<%- include ("partials/header") -%>
<div class="index_background">
    <div class="container jumbotron text-center">
        <h1>welcome to YelpCamp</h1>
        <p>you'll find all the great places in the whole world</p>
        <a href="/campgrounds/new" class="btn btn-light">add new Campground</a>
    </div>
    <div class="row container indexContainer ">

        <% campground.forEach(function (camp){ %>
            <div class="col-md-6 col-lg-4 index">
                <div class="card" style=" height: 430px; margin: 1.666%">
                    <img src="<%= camp.image %>" style="max-height: 170px" alt=""
                         title="<%= camp.date.toDateString() %>">

                    <div class="card-body">
                        <h5 class="card-title"><%= camp.name %></h5>
                        <p class="card-text"
                           style="font-family: monospace;height: 10ch;overflow: hidden;">   <%= camp.discription %></p>
                        <section style="display: flex">
                            <p class="date"><%= camp.date.toDateString() %></p>
                            <p>posted by <%= camp.user.username %></p>
                        </section>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary info">info</a>


                        <% if (currentUser && currentUser._id.equals(camp.user.id)){ %>
                            <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-primary edit">edit</a>

                            <form action="/campgrounds/<%= camp._id %>?_method=delete" method="post" id="delete">
                                <button onclick="return confirm('Are you sure you want to delete this item?');"
                                        class="btn btn-danger delete">delete
                                </button>
                            </form>
                        <% } %>




                    </div>
                </div>
            </div>

        <% }) %>

    </div>
</div>
<%- include ("partials/footer") -%>


